<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Candidate List</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<div class="container-fluid px-0">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-dark bg-dark">
                <!-- Navbar content -->
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Candidate Management</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Pricing</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Dropdown link
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 p-5">
            <div class="d-flex justify-content-between">
                <h2>Candidate List</h2>
                <a th:href="@{/candidates}" type="button" class="btn btn-primary">Create New</a>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Status</th>
                    <th>University</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="candidate: ${candidates}">
                    <td th:text="${candidate.id}"></td>
                    <td th:text="${candidate.fullName}"></td>
                    <td th:text="${candidate.email}"></td>
                    <td th:text="${candidate.phoneNumber}"></td>
                    <td th:text="${candidate.status}"></td>
                    <td th:text="${candidate.university != null ? candidate.university.unisName : 'N/A'}"></td>
                </tr>
                </tbody>
            </table>
            <p th:if="${#lists.isEmpty(candidates)}" style="color: #000000;">No candidates found</p>

        </div>
    </div>
</div>
</body>
</html>